@import "tailwindcss";
@plugin "daisyui";
@import '@fontsource-variable/sen';
@import '@fontsource/space-mono';
@theme {
  --font-sans: 'Sen Variable', sans-serif;
  --font-mono: 'Space Mono', monospace;
}
@plugin "daisyui/theme" {
  name: "prime100";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #0F0F0F;
  --color-base-200: #0A0A0A;
  --color-base-300: #1C1C1E;
  --color-base-content: #E7E7E7;
  --color-primary: #A281F6;
  --color-primary-content: #1C1C1E;
  --color-secondary: #C6C6C9;
  --color-secondary-content: #1C1C1E;
  --color-accent: #E05B60;
  --color-accent-content: #1C1C1E;
  --color-neutral: #2B2B2D;
  --color-neutral-content: #E7E7E7;
  --color-info: #8182F6;
  --color-info-content: #1C1C1E;
  --color-success: #3CC58D;
  --color-success-content: #1C1C1E;
  --color-warning: #D5AB55;
  --color-warning-content: #1C1C1E;
  --color-error: #E05B60;
  --color-error-content: #1C1C1E;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "prime200";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #1C1C1E;
  --color-base-200: #0A0A0A;
  --color-base-300: #1C1C1E;
  --color-base-content: #E7E7E7;
  --color-primary: #A281F6;
  --color-primary-content: #1C1C1E;
  --color-secondary: #C6C6C9;
  --color-secondary-content: #1C1C1E;
  --color-accent: #E05B60;
  --color-accent-content: #1C1C1E;
  --color-neutral: #2B2B2D;
  --color-neutral-content: #E7E7E7;
  --color-info: #8182F6;
  --color-info-content: #1C1C1E;
  --color-success: #3CC58D;
  --color-success-content: #1C1C1E;
  --color-warning: #D5AB55;
  --color-warning-content: #1C1C1E;
  --color-error: #E05B60;
  --color-error-content: #1C1C1E;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}