@import "tailwindcss";
@plugin "daisyui";
@import '@fontsource-variable/sen';
@import '@fontsource/space-mono';
@theme {
  --font-sans: 'Sen Variable', sans-serif;
  --font-mono: 'Space Mono', monospace;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #F6F9FC;
  --color-base-200: #99B7CB;
  --color-base-300: #EEF3F8;
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: #986CBB;
  --color-primary-content: oklch(1.000 0.149 330.8);
  --color-secondary: oklch(0.653 0.087 154.5);
  --color-secondary-content: oklch(0.970 0.039 154.5);
  --color-accent: #E0264C;
  --color-accent-content: oklch(1.000 0.128 17.1);
  --color-neutral: oklch(0.537 0.086 237.3);
  --color-neutral-content: oklch(0.992 0.020 237.3);
  --color-info: #2C8C99;
  --color-info-content: oklch(0.159 0.226 208.1);
  --color-success: oklch(0.653 0.087 154.5);
  --color-success-content: oklch(0.970 0.039 154.5);
  --color-warning: #CE6B37;
  --color-warning-content: oklch(1.000 0.053 46.3);
  --color-error: #E0264C;
  --color-error-content: oklch(1.000 0.128 17.1);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}