@import "tailwindcss";
@plugin "daisyui";
@import '@fontsource/space-grotesk';
@import '@fontsource/space-mono';
@theme {
  --font-sans: 'Space Grotesk', sans-serif;
  --font-mono: 'Space Mono', monospace;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(80% 0.194 13.428);
  --color-base-300: oklch(74% 0.194 13.428);
  --color-base-content: oklch(18% 0.12 13.428);
  --color-primary: oklch(80% 0.194 13.428);
  --color-primary-content: oklch(18% 0.12 13.428);
  --color-secondary: oklch(95% 0.026 236.824);
  --color-secondary-content: oklch(12% 0.194 13.428);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(80% 0.12 310);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
