---
import Cell from "../bento/baseCell.astro"
const { class: customClass } = Astro.props;
---

<main id="page-main" class="card overflow-y-auto overflow-x-hidden">
  <div class="">
    <Cell id="main-cell" class={`bg-base-100 ${customClass}`}>
        
        <slot/>

    </Cell>
  </div>
</main>

<script>
  const header = document.getElementById("page-header");
  const sidebar = document.getElementById("page-sidebar");
  const main = document.getElementById("page-container");
  const cell = document.getElementById("main-cell");

  const updateLayout = () => {
    const fullscreen = window.location.hash === "#fullscreen";

    header.style.display = fullscreen ? "none" : "";
    sidebar.style.display = fullscreen ? "none" : "";
    main.style.backgroundColor = fullscreen ? "white" : "";
    cell.style.backgroundColor = fullscreen ? "transparent" : "";
  };

  window.addEventListener("hashchange", updateLayout);
  window.addEventListener("popstate", updateLayout);

  updateLayout();
</script>
