---
    import SideNav from "./sideNavigation.astro";
---

<header class="navbar flex items-center justify-between">
  <div class="flex-none">
    <button
      class="btn btn-square btn-lg btn-ghost md:hidden"
      popovertarget="popover-1"
      style="anchor-name:--anchor-1"
    >
      ☰
    </button>
    <div
      class="dropdown menu rounded-box bg-base-100 shadow-sm"
      popover
      id="popover-1"
      style="position-anchor:--anchor-1"
    >
      <SideNav />
    </div>
  </div>

  <div class="flex-1 text-center md:text-left md:ml-20">
    <span class="text-3xl font-bold">justinwhite.work</span>
  </div>

  <div class="flex-none w-[64px]"></div>
</header>
