
<ul class="menu flex flex-col gap-4 content-center min-w-0 w-full">
  <li>
    <div class="md:tooltip bg-transparent border-0 p-0" data-tip="home">
      <a href="/" class="btn btn-square btn-lg btn-ghost">■</a>
    </div>
  </li>

  <li>
    <div class="md:tooltip bg-transparent border-0 p-0" data-tip="education">
      <a href="/education" class="btn btn-square btn-lg btn-ghost">◆</a>
    </div>
  </li>

  <li><button class="btn btn-square btn-lg btn-ghost">▲</button></li>
  <li><button class="btn btn-square btn-lg btn-ghost">★</button></li>
</ul>
