<ul class="menu flex flex-col gap-4">
    <li>
        <a href="/" class="btn btn-square btn-ghost">■</a>
    </li>
    <li>
        <a href="/page2" class="btn btn-square btn-ghost">◆</a>
    </li>
  <li><button class="btn btn-square btn-ghost">▲</button></li>
  <li><button class="btn btn-square btn-ghost">★</button></li>
</ul>
