
<ul class="menu flex flex-col gap-4 content-center min-w-0 w-full">

  <li>
    <div class="md:tooltip lg: bg-transparent border-0 p-0" data-tip="home">
      <a href="/" class="btn md:btn-square btn-lg btn-ghost">
        <span class="md:block hidden">■</span>
        <span class="md:hidden block">home</span>
      </a>
    </div>
  </li>

  <li>
    <div class="md:tooltip lg: bg-transparent border-0 p-0" data-tip="education">
      <a href="/education" class="btn md:btn-square btn-lg btn-ghost">
        <span class="md:block hidden">◆</span>
        <span class="md:hidden block">education</span>
      </a>
    </div>
  </li>

  <li><button class="btn btn-square btn-lg btn-ghost">▲</button></li>
  <li><button class="btn btn-square btn-lg btn-ghost">★</button></li>
</ul>