---
import Root from "../components/layouts/BaseLayout.astro";
import Seo from "../components/layouts/BaseSEO.astro";

import Bio from "../components/layouts/controlPane/bioCard.jsx";
import Categories from "../components/layouts/controlPane/categories.jsx";
import Card from "../components/library/card.jsx";
import MDViewport from "../components/layouts/viewports/document.jsx";
import IFViewport from "../components/layouts/viewports/preview.jsx";

import SidePane from "../components/layouts/controlPane/pane.astro";
---

<Seo title="Home - Justinwhite.work" />

<Root title="Home - Justinwhite.work">
  <div
    class="h-screen w-screen overflow-hidden p-2 md:p-4 flex flex-row gap-2 md:gap-4"
    data-theme="prime100"
  >
    <SidePane/>

    <MDViewport
      sourceLocation="/docs/home.md"
      title="Document"
      subtitle="home.md"
      className="md:flex hidden"
      client:only="react"
    />
  </div>
</Root>
