---
import Root from "../components/root.astro";
import Sidenav from "../components/standard/sideNavigation.astro";
import Cell from "../components/standard/bentoCell.astro";
import AnimatedCell from "../components/standard/animatedBentoCell.astro";
import Footer from "../components/standard/pageFooter.astro";
import Header from "../components/standard/headerNavigation.astro"

import Seo from "../components/seoTemplate.astro";
---

<Seo title="Home - Justinwhite.work" />

<Root title="Home - Justinwhite.work">
  <div class="flex flex-col h-screen w-screen bg-base-200 gap-2 p-2">
    <Header/>

    <div class="flex flex-1 gap-2 min-h-0">
      <aside class="menu w-20 hidden md:block">
        <Sidenav />
      </aside>

      <main class="card flex-1 overflow-y-auto overflow-x-hidden pr-2">
        <div class="flex h-full flex-wrap gap-4">
          <AnimatedCell class="max-w-full min-w-[40vh] min-h-full bg-base-100">
            <span> Element </span>
          </AnimatedCell>

          <AnimatedCell class="max-w-full min-w-[40vh] min-h-full bg-base-100">
            <span> Element 2 </span>
          </AnimatedCell>

          {/* Footer Card */}
          <Cell class="min-w-2/3 max-w-full">
            <Footer class="" />
          </Cell>
        </div>
      </main>
    </div>
  </div>
</Root>
