---
import Root from "../components/root.astro";
import Sidenav from "../components/standard/sidenav.astro";
---
<Root title="Page2">
  <div class="flex flex-col h-screen w-screen bg-base-200 gap-2 p-2">
    <!-- Topbar -->
    <header class="navbar">
      <div class="flex-1 ml-20">
        <span class="text-3xl font-bold">justinwhite.work</span>
      </div>
    </header>

    <!-- Main area -->
    <div class="flex flex-1 gap-2">
      <!-- Sidebar -->
      <aside class="menu p-2 w-20">
       <Sidenav/>
      </aside>

      <!-- Content (Bento grid) -->
      <main class="flex-1">
        <div class="flex flex-wrap gap-4 h-full">
          <div class="card flex-1 min-w-[200px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
          <div class="card flex-1 min-w-[400px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
          <div class="card flex-1 min-w-[200px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
          <div class="card flex-1 min-w-[400px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
		  <div class="card flex-1 min-w-[200px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
          <div class="card flex-1 min-w-[400px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
		  <div class="card flex-1 min-w-[400px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
		  <div class="card flex-1 min-w-[200px] bg-base-100 shadow">
            <div class="card-body"> Element </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</Root>