---
export const prerender = false;

import Root from "../components/layouts/BaseLayout.astro";
import Seo from "../components/layouts/BaseSEO.astro";

import Bio from "../components/layouts/controlPane/bioCard.jsx";
import Categories from "../components/layouts/controlPane/categories.jsx";
import IFViewport from "../components/layouts/viewports/preview.jsx";

const url = new URL(Astro.request.url);
const sourceParam = url.searchParams.get("source");

// Only accept full URLs, redirect otherwise
if (!sourceParam || 
    sourceParam.trim() === "" || 
    !(sourceParam.startsWith("http://") || sourceParam.startsWith("https://"))) {
    console.warn("REDIRECT: Source parameter must be a valid URL.");
    return Astro.redirect("/");
}

console.log(`[Astro] SourceParam read: "${sourceParam}"`);

// Extract domain from the URL
const sourceDomain = new URL(sourceParam).hostname;
---

<Seo title="Home - Justinwhite.work" />

<Root title="Home - Justinwhite.work">
  <div class="h-screen w-screen overflow-hidden p-2 md:p-4 flex flex-row gap-2 md:gap-4" data-theme="prime100">

    <aside
      class="flex flex-col items-center min-h-full flex-1 md:max-w-96 sticky top-0 overflow-y-auto gap-2 md:gap-4 pb-[16%]" transition:persist
    >
      <Bio client:load />
      <Categories client:load />
    </aside>

    <IFViewport
      sourceLocation={"/api/snapshot?url=" + sourceParam}
      liveLocation={sourceParam}
      title="Document"
      subtitle={sourceDomain}
      client:only="react"
    />

  </div>
</Root>